@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
} */

.line-active {
  width: 4rem;
  --tw-bg-opacity: 1;
  background-color: #e2e8f0;
}
.text-active {
  color: rgb(226 232 240);
}
